/* Styling for the nav bar*/
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

body {
    font-family: 'Segoe UI', Segoe,Helvetica, sans-serif;
    font-size: 14px;
    background-color: #383838;
    color: whitesmoke;
    position: relative;
    animation-name: smoothie;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin:0;
}

li a:hover:not(.active) {
    background-color: #111;
}

h1{
    text-align: center;
}

.active {
    background-color: #3f255d91;
}

.title {
    margin-top:3.125em;
}

.total {
    text-align: center;
    border: 1px solid black;
    height: 8.5em;
    width: 15em;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
    
}

.breakdown {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.loan {
    border: none;
    font-size: 2em;
    text-align: center;
    width: 24.8%;
}

.timeline{
    text-align: center;
    border: 1px solid black;
    border-spacing: 20px;
    height: 8.5em;
    font-size: 2em;
}

/* Styling for the sign in/up pages */
.container{
    width: 70%;
    min-width: 320px;
    max-width: 500px;
    min-height: max-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-spacing: 20px;
    border-radius: 20px;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:whitesmoke;
    background-color: #181818;
    box-shadow: #000 0px 0px 40px;
    padding: 70px 20px 20px 20px;
}

input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    min-width: 350px;
    font-size: large;
}

input[type=password] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    min-width: 350px;
    font-size: large;
}

input {
    background-color: #252525;
    color: whitesmoke;
}

input:hover {
    background-color: #101010;
}

button {
    background-color: transparent;
    color: white;
    padding: 14px 20px;
    border: solid 2px;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button:hover {
    border-color: #6B1BC5;
    box-shadow: #333 0px 0px 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    float: middle;
}

.button {
    background-color: transparent;
    color: white;
    padding: 14px 20px;
    border: solid 2px;
    border-radius: 4px;
    cursor: pointer;
    font-size:small;
    text-decoration: solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button:hover {
    border-color: #6B1BC5;
    box-shadow: #333 0px 0px 10px;
}

.outer {
    width: 100%;
    height: 100%;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

input[type="date"] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    min-width: 350px;
    font-size: large;
}

.logon {
    background-image: url(assets/bg.jpg);
    backdrop-filter: blur(30px);
    margin: 0;
    position: relative;
    animation-name: smoothie;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

/* Styling for the home page */
.home {
    background-image: url(assets/bg.jpg);
    backdrop-filter: blur(30px);
    background-color: #252525;
    margin: 0;
    padding: 30;
    color: whitesmoke;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    animation-name: smoothie;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #181818;
}

::-webkit-scrollbar-thumb {
    background: rgb(68, 68, 68);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(61, 61, 61);
}

.title{
    text-align: center;
    margin: 50px;
}

.home-container {
    width: 70%;
    min-width: 500px;
    max-width: 1500px;
    min-height: max-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-spacing: 20px;
    border-radius: 20px;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:whitesmoke;
    background-color: #181818;
    box-shadow: #000 0px 0px 40px;
    padding: 70px 20px 20px 20px;
}

.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-top: 5px;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

.floating-item {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-top: 5px;
}

@keyframes smoothie { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }