/* Styling for the nav bar*/
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

h1{
    text-align: center;
}

.active {
    background-color: #0031d3;
}

.title {
    margin-top:3.125em;
}

.total {
    text-align: center;
    border: 1px solid black;
    height: 8.5em;
    width: 15em;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
    
}

.breakdown {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.loan {
    border: 1px solid black;
    font-size: 2em;
    text-align: center;
    width: 24.8%;
}

.timeline{
    text-align: center;
    border: 1px solid black;
    border-spacing: 20px;
    height: 8.5em;
    font-size: 2em;
}